In [ ]:
#Explain the key features of Python that make it a popular choice for programming?

In [ ]:
#keyfeatures
#easy to learn >> python has a simple syntax that makes it easy to use
#portable >> python is a cross platform language
#open source >> python is free and open source software
#standard library >> puthon comes with alarge standard library
#object oriented >> python is a object oriented programming langauge
#support multi programming models >> python support procedural, object oriented and functional programming
#community support >> python has a large community support
#frame works and libraies >>python has frame work and libraries for almost every application domain

In [ ]:
#Describe the role of predefined keywords in Python and provide examples of how they are used in a program?

In [ ]:
#predefined keywords >> keywords are the pre define words that holds a special meaning and have specfic purpose in python
#for example if we write
print("hello world!!")

hello world!!

In [ ]:
#similarly
if 6 > 2:
    print("grater")

grater

In [ ]:
#similary
name = input("pleas enter your name :")

pleas enter your namr :deepansh

In [ ]:
name

'deepansh'

In [ ]:
#here "print" "if" "input" these are the keywords which help us to run the code directly with the help of them

In [ ]:
#Compare and contrast mutable and immutable objects in Python with examples?

In [ ]:
#mutable objects >> mutable objects/containers whose state and values can be changed after they are created are called as mutable objects. list is a type of mutable objectwhich support item assignment and can be edited after they are created
#immutable objects >> immutable objects/containers are those whose sts=ate and value can not be changed after they are created once. string is a type of immutable object which can not be edited after once its created
#example of mutable objects >> list, dictionary, sets
#example of immutable objects >> string, float, complex

In [ ]:
#Discuss the different types of operators in Python and provide examples of how they are used?

In [ ]:
#operators in python >> special keywords/symbols that use to preform oprations on value or variables are known as operators in python. these opration are used to manage the data, to do computation of data or to make decision using data. the python oprators are as follow
#arithmatic operators >> these operators are used to calculate the arthimetical operation in the data set
#comparsion operators >> these operators are used to compare the thingd used in the data
#logical operators >> these operators are used to make things logical as according to the data
#bitwise operators >> this operator is used to compare the bit value between data
#assignment operator >> this operator is used to assing the value to any variable
#identity operator >> this operator compares the location of two object or variable
#shift operator >> shift the bits by left or right ,it is of two types
#left shift operator >> shift the bits to the left by a specified number of position by fillings zeros at the right
#right shift operator >> remove the number of ekements in the binary or removes the last value
#for example >>
a = 3
b = 6
a+b

9

In [ ]:
#simlarly
a = 4
b = 1
a-b

3

In [ ]:
#similarly
3 * 9

27

In [ ]:
121 / 11

11.0

In [ ]:
#Explain the concept of type casting in Python with examples?

In [ ]:
#type casting >> it is the process of changeing the data type of a value or object in python. while executing/computation of data using operators ther can be mismatch between the data type and upon running it , it will give an error , so to overcome this type of mismstch type casting is used in python.
#for example
a = '2'
b = 5
type(a)

str

In [ ]:
a = '2'
b = 5
int(a)+b

7

In [ ]:
#string to intreger
a = '2'
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [ ]:
#float to intreger
a = 6.8
type(a)

float

In [ ]:
int(a)

6

In [ ]:
b = 5.6
type(b)
flote_value  = int(b)
type(flote_value)

int

In [ ]:
#interger to float
a = 6
type(a)

int

In [ ]:
b = float(a)
b

6.0

In [ ]:
type(b)

float

In [ ]:
#How do conditional statements work in Python? Illustrate with examples?

In [ ]:
#conditional statements >> the statements that helps you to exicute the code decision based on some pre conditions. there are four types of conditional statements as follow
#if statement >> execute when the condition is true.
#if-else >> execute if, if the condition is true else execute the else block.
#if-elif-else >> execute if, if the condition is true, execute elif if the condition in elif block is true and execute else if the frist 2 conditiond is not true
#nasted if-else >> in this condition you can have multiple if else inside if else condition.
#for example based on if statement
temp = 30
if temp>25:
  print("room temp")

room temp

In [ ]:
#similarly
weather = "sunny"
if weather == ("sunny"):
  print("i will play football")

i will play football

In [ ]:
grade = 7
co_cir = True
if((grade >=7) and (co_cir == True)):
  print("you're all rounder")

you're all rounder

In [ ]:
#example based on if-else statement
#if weather is not raint, i will go to play foolball, else i will watch movie
weather = "sunny"
if weather == "sunny":
  print("i will play football")
else:
    print("i will watch movie")

i will play football

In [ ]:
weather = "rainy"
if weather == "sunny":
  print("i will play footbaal")
else:
  print("i will watch movie")

i will watch movie

In [ ]:
#example based on if elif else statement
a = 37
if a > 50:
  print("a is grater then 50")
elif a < 50:
  print("a is less then 50")
else:
  ptint("the number is equals to 50")

a is less then 50

In [ ]:
#example based on nested if else condition
x = 4
y = 10
if x > 5:
  if y>5:
      print("x and y are grater then 5")
  else:
      print("x is grster then 5 but y is less then 5")
else:
  print("x is less then 5")

x is less then 5

In [ ]:
#Describe the different types of loops in Python and their use cases with examples?

In [ ]:
#loop statement >> it allows you to execute a block of code repeatedly. it is of two types
#while loop >> in this loop the command will repeatedly execute a block of code untill the condition is met. "while" is the keyword used for while loop
#for example
n = 5
i = 1
while i < n:
  print(i)
  i = i+1

1
2
3
4

In [ ]:
#in this example i<n
# here, 0<5, the condition is true then it execute the second block of code that is print(i) >> i=0 >> i+1 = 0+1 = 1
#similarly 1<5, the condition is true then it execute the second block of code that is print(i) >> i=1 >> i+1 = 1+1 = 2
#similarly 2<5, the condition is true then it execute the second block of code that is print(i) >> i=2 >> i+1 = 2+1 = 3.
#similarly 3<5, the condition is true then it execute the second block of chain that is print(i) >> i=3 >> i+1 = 3+1 = 4.

In [ ]:
#for loop >> a control flow statement for specifying iteration, which allow code to be execute repeatedly strings ,list are the example of for loop
#for example
for i in "pwskills":
  print(i)

p
w
s
k
i
l
l
s